@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4 text-center">Welcome</h1>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="ListBrands">ListBrands</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="ListPhones">ListPhones</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="PhoneSpecifications">PhoneSpecifications</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="Search">Search</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="Latest">Latest</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="TopByInterest">TopByInterest</a>
    </p>

    <p>
        <a asp-area="" asp-controller="Home" asp-action="TopByFans">TopByFans</a>
    </p>

</div>