@model dynamic

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<h2>AdminController</h2>

<p>
    <a asp-controller="Admin" asp-action="SynchronizeBrands">SynchronizeBrands</a>
</p>

<p>
    <a asp-controller="Admin" asp-action="SynchronizePhones">SynchronizePhones</a>
</p>

<p>
    <a asp-controller="Admin" asp-action="SynchronizeSpecifications">SynchronizeSpecifications</a>
</p>