@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-left">
    <h1 class="display-4 text-center">Admin Page</h1>

    <h4>Api action</h4>

    <p>
        <a asp-controller="Admin" asp-action="ListBrands">List Brands</a>
    </p>

    <p>
        <form asp-controller="Admin" asp-action="Search" method="get">
            <div>
                <label>
                    <b>Search:</b>
                </label>
                <input type="text" name="query"/>
                <input type="submit" value="Find"/>
            </div>
        </form>
    </p>

    <p>
        <a asp-controller="Admin" asp-action="Latest">Latest</a>
    </p>

    <p>
        <a asp-controller="Admin" asp-action="TopByInterest">Top By Interest</a>
    </p>

    <p>
        <a asp-controller="Admin" asp-action="TopByFans">Top By Fans</a>
    </p>

    <hr/>

    <h4>Store Admin action</h4>

    <p>
        <a asp-controller="Admin" asp-action="GetPhonesInStore">Get Phones In Store Async</a>
    </p>

</div>