@model dynamic

@{
    ViewBag.Title = "Customer Page";
    Layout = "_Layout";
}

<div class="text-left">
    <h1 class="display-4 text-center">Customer Page</h1>

    <p>
        <a asp-controller="Customer" asp-action="ShowPhones">Show Phones</a>
    </p>

</div>